* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #252525;
    color: #fff;
}

.primary-bg-color {
    background-color: #252525;
}

.destaque {
    background-color: #0d0d0d;
}

.secondary-bg-color {
    background-color: #976df2;
}

.light-bg-color {
    background-color: #fcf5eb;
}

.dark-bg-color {
    background-color: #0d0d0d;
}

.primary-color {
    color: #976df2;
}

.secondary-color {
    color: #f2f2f2;
}

.light-color {
    color: #fcf5eb;
}

#navbar .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}

#navbar .navbar-nav li {
    margin-left: 1em;
}

#navbar a,
#nvbar button {
    color: #fff;
}

#navbar i:hover {
    color: #976df2;
}

#navbar span {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ef3636;
    text-align: center;
}

#bag-item span {
    left: 20px;
}

.navbar-brand {
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.sobre a:hover {
    color: #0d0d0d !important;
}

@media(min-width: 768px) {
    .navbar-brand {
        text-align: left;
    }
}

#navbar-items {
    justify-content: space-between;
}

@media(min-width: 768px) {
    #navbar-items {
        display: flex;
        min-width: 80%;
    }
}

#search-form,
#news-form {
    width: 100%;
    margin: 2em 0;
}

@media(min-width: 768px) {
    #search-form,
    #news-form {
        border: 2px solid #f2f2f2;
        border-radius: 3px;
        padding: 5px 15px;
    }
}

#search-form input,
#news-form input {
    background-color: transparent;
    border: none;
    color: #fff;
}

#serach-form input:focus,
#news-form input:focus {
    box-shadow: none;
}

#search-form input::placeholder,
#news-form input::placeholder {
    color: #fff;
}

#bottom-navbar-container .container {
    justify-content: flex-end;
}

#bottom-navbar-container a {
    color: #fff;
    font-weight: 600;
}

.navbar-toggler {
    font-size: 1.5em;
}